
build/.vs/coursework/v16/.suo
*.db
*.ipch
*.db-shm
*.vcxproj
*.filters
*.user
*.log
*.lastbuildstate
*.tlog
*.obj
*.pdb
*.bin
*.cmake
*.exe
*.rule
*.dll
*.ilk
*.sln
*.check_cache
*.stamp
*.depend
*.list
build/.vs/Fadeev_CourseWork/v16/.suo
*.db-wal
build/CMakeCache.txt
*.c
build/CMakeFiles/3.17.0-rc1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.17.0-rc1/VCTargetsPath.txt
build/CMakeFiles/TargetDirectories.txt
